<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apextechies.theferiwala">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
     <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ViewAllWithNamePrice"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ProductDescription"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ProductListByCatId"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".login.SignUp"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.MyCart"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.AddAddress"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.MyOrderDescription"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.MyOrder"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.SuccessActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
       <!-- <meta-data
            android:name="io.fabric.ApiKey"
            android:value="185cd65e35579c876af0ada8ca5fcc40ac8cded2" />-->

        <meta-data
            xmlns:tools="http://schemas.android.com/tools"
            android:name="io.fabric.ApiKey"
            android:value="185cd65e35579c876af0ada8ca5fcc40ac8cded2"
            tools:replace="android:value"/>


    </application>

</manifest>